* {
    margin: 0;
    padding: 0;
}
a {
    color: #fff;
    text-decoration: none;
}
body {
    color: #393a39;
    font-family:  "Krona One", sans-serif;
    font-weight: 300;
    background-color: #fff;
}
.container {width: 1600px;margin: 0 auto;}
ul,li{list-style: none;}




/* 메뉴 */
#parallax__title {
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 1000;
   
}
/* #parallax__title h1 {
    font-size: 30px;
    border-bottom: 1px dashed #fff;
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-weight: 400;
    display: inline-block;
} */
#parallax__title span {
    font-size: 16px;
}
#parallax__title ul {
   
}
#parallax__title li {
    display: inline;
}
/* #parallax__title li a {
    width: 20px; 
    height: 20px;
    border-radius: 50%;
    border: 1px dashed #fff;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
} */
#parallax__title li.active a {
    background: #fff;
    color: #393a39;
    font-weight: 300;
}
#parallax__nav {
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 1000;
    background-color: #12887A;
    color: #fff;
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 20px;
    display: inline-block;
    
   
   
}
#parallax__nav li {
    list-style: none;
    display: inline;
}
#parallax__nav li a {
    display: inline-block;
    padding: 10px 15px;
    text-align: center;
    line-height: 20px;
}
#parallax__nav li a.active {
   
    color: #dd8c8c;
    border-radius: 50%;
    border-bottom: 2px solid #dd8c8c;
}

/* parallax__cont */
#parallax__cont {
    width: 100%;
}
.parallax__item {
    height:100vh;
}
#section1 {
  background: url(../img/001.png) no-repeat;
  background-size: cover;
}
.intro_text{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
#section1 p.t1 {
  font-size:3vw;
  line-height: 1.4;
  font-weight: 300;
  padding-bottom: 50px;
    

}

#section1 .parallax__item__desc{
    font-size: 5vw;
    line-height: 1.4;
    z-index: 100;
    font-weight: 600;
    text-align: center;
    color: #fff;
}
/* #section1 .split > span{
    display: inline-block;
   
} */

#section1 p.t3 {
  font-size:1vw;
  line-height: 1.4;
  font-weight: 400;
  position: absolute;
  bottom:5%;
  left: 50%;
  transform: translateX(-50%);
  animation: portfolio 1s infinite ;
  cursor: pointer;

}

.split > span{
  display: inline-block;
}

@keyframes portfolio {
  0% {bottom:5%;}
  50% {bottom:7%;}
  100% {bottom:5%;}
}
/* Profile */

#section2 {
  background: url(../img/002.png) no-repeat;
  background-size: cover;
  /* position: relative; */
 
}
#section2 .container{
  padding-top: 200px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.profile_img{
  width: 30%;
}
.profile_cont{
  width: 65%;
}
.profile_img img{
  width: 80%;
  
  }
.profile_top,.profile_middle {
  display: flex;
  justify-content: start;
  align-items: start;
 /* padding: 100px 0 50px;
 height:250px;
 box-sizing: border-box; */
  
}
.profile_middle,.profile_bottom{
  padding-top: 50px;
}
.profile_top > div, .profile_middle >div {
  width:40%;
  
}
#section2 h2 {
    font-size: 20px;
    color: #12887A;
    line-height: 50px;
}

 #section2 h3 {
  display: inline-block;
  line-height: 24px;
}
.top1 h3 {
  width: 70px;
}
.top2 h3,.middle1 h3,.middle2 h3 {
  width: 100px;
}
.bottom2 h3 span {
  width: 200px;
} 
.bottom1 ul {
  display: flex;
  gap:40px;
}


#section2  p{padding-top: 10px;}

/* web */
#section3 {
  padding-top: 8%;
  position: relative;
}
#section3 .web_slider {
  width: 85%;
  height: 80%;
  overflow: hidden;
 
}

#section3 .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#section3 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#section3 .swiper-slide >h3 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  font-size: 50px;
}
#section3 .swiper-slide >h3 em {
  font-size: 40px;
  padding-right: 20px;
  color: #12887A;
}
#section3 .swiper-button-next {
  position: absolute;
  left: auto;
  right: 50px;
  top: 50%;
  color: #12887A;
}
#section3 .swiper-button-prev{
  left: 50px;
  color: #12887A;
} 
.web1,.web2,.web3,.web4,.web5 {
  display: flex;
  align-items: center;
  width: 100%;height: 100%;

}
.web_left_img{
  width: 60%;
  position: relative;
 
}
.web_left_img
.web_right_img{
  padding-top: 70px;
  box-sizing: border-box;
  width:40%;
}
.title {position: absolute;
left: 0;padding: 0;}
.web_text {
  padding: 50px 0 30px;
}
.web_text > div {display: flex;
margin-top: 20px;
}
.web_text > div h4 {padding-left: 70px;}
.web_text > div p {padding-left: 20px;}

.web_button  a{
  display: inline-block;
  background:#fff;
  border: 1px solid #12887A;
  color:#12887A;
  padding: 10px 20px;
  border-radius: 10px;
}
.web_button  a:hover {
  background-color: #12887A ;
  color: #fff;

}
.web_text > div.text {
  display: block;
  text-align: left;
  padding-left: 50px;
}
.text p {
  line-height: 1.8;
}
.web_button .page{ 
  background-color: #12887A ;
  color: #fff;
}
/* .web_button .page:hover{
  background:#fff;
  border: 1px solid #0575f5;
  color:#0575f5;
} */
#section4 .detail_page {
  /* background-color: antiquewhite; */
  /* width: 100%;
  height: 100%; */
  
 
}

#section4 .detail_page .detail_list {
  display: flex;
   
  
}

#section4 .detail_page .detail_list a {

}
#section4 .detail_page .detail_list a img {
  margin-right: 40px;
  width: 368px;
  height: 500px;
  object-fit: cover;
  object-position: top;
  box-shadow: 3px 3px 3px   #cacaca;
}


#section5 .design_page {}

#section5 .design_page .design_list{
  display: flex;
  justify-content: space-between;
  height: 280px;
  margin-top:0

}



#section5 .design_page  .design_list a {
  display: block;

}
#section5 .design_page .design_list a img {
  /* margin-right: 40px; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  box-sizing: border-box;
  transition: all 0.3s;
  }
 #section5 .design_page .design_list a img img:hover {
   transform: scale(3.3);}


/* section6 */

#section4 h2,#section6 h2{ 
  font-size: 40px; 
  margin-left: 70px;
  font-weight: bold;
  line-height:2.0 ;
  padding-top: 50px;
  text-align: left;
  padding-bottom: 30px;
  color: #12887A;
}
#section5 h2{
  font-size: 40px; 
  margin-left: 70px;
  font-weight: bold;
  line-height:2.0 ;
  padding-top: 30px;
  text-align: left;
  padding-bottom: 30px;
  color: #12887A;
}
.iframe_cont{
  width: 100%;
  height: 100%;
  /* box-shadow: 3px 3px 3px   #999; */
 
}
.iframe_cont iframe {
  width: 100%;
  height: 710px;
  /* box-shadow: 3px 3px 3px   #999; */
}

  h1 {
    position: absolute;
    left: 50%;top: 50%;
    transform: translate(-50%,150%);
    font: 92px/1 'Arial';
    /* font:style variant weight size/line-height font-family */
    color:#fff;
    animation: day linear 20s infinite;
  }
 

  
 
 



